- title "Mics"

#search
  = render(:partial => 'mics/search_form')

%br.clear

#gear= render(:partial => 'mics/microphone', :collection => @mics)

%p= link_to "New Mic", @chain.nil? ? new_mic_path : new_chain_mic_path(@chain)

:javascript
  $(function () {
    $('input').keyup(search);
    $('select').change(search);
  });

  function search() {
    $('#search_form').ajaxSubmit({ target: '#gear' });
  }