- title "Equalizers"

#search
  = render(:partial => 'equalizers/search_form')

%br.clear

#gear= render(:partial => 'equalizers/equalizer', :collection => @equalizers)

.w15
  = link_to "<span>New Equalizer</span>", @chain.nil? ? new_equalizer_path : new_chain_equalizer_path(@chain), :class => 'btn'

:javascript
  $(function () {
    $('input').keyup(search);
    $('select').change(search);
  });

  function search() {
    $('#search_form').ajaxSubmit({ target: '#gear' });
  }