.comment.first
  .first.col.comment-text
    =textilize(comment.body)
  .col.w20
    .avatar
      = link_to image_tag(comment.user.avatar.url(:thumb)), comment.user

    - if comment.user
      .username
        = link_to comment.user.display_name, user_by_login_path(comment.user.login)
  .clear      
  