= f.input :make, :input_html => { :size => 27 }, :wrapper_html => { :class => "first col w25" }
= f.input :model, :input_html => { :size => 27 }, :wrapper_html => { :class => "col w25" }
= f.input :manufactured_date, :input_html => { :size => 27 }, :wrapper_html => { :class => "col w25" }