.unit
  .col.thumb
    = gear_link(index_gear, image_tag(index_gear.image.url(:thumb)))
  .col.w45  
    %h3
      = gear_link(index_gear)
    = render(:partial => @class.index_partial, :collection => collection)
  .col.w15
    .w15
      = add_to_chain_button(index_gear)
    %span.score
      90
  %br.clear