- title "Signal Chains Blog"
#sounding_board
  %h1 The Sounding Board
%section#posts
  = render :partial => "blog_posts/blog_post", :collection => @blog_posts

- content_for :admin do
  = link_to 'New Post', new_admin_blog_post_path

- content_for :head do
  %link{:rel => "alternate", :type => "application/atom+xml", :href => blog_posts_url(:format => :atom)}
