/* @override http://signalchains.local/stylesheets/audioplayer.css */

#player_container {
	position:relative;
	padding:0;
}

ul#icons {margin: 0 auto; padding: 0; width: 60px;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

ul#icons #volume-min {
	margin:2px 2px 2px 2px;
}

#sliderVolume {
	position:relative;
	width:120px;
	margin: 5px auto;
	height:.4em;
}


#sliderVolume .ui-slider-handle {
	height:.8em;
	width:.8em;
}

#bars_holder {
	position:relative;
	width:240px;
	margin: 10px auto;
}

#sliderPlayback .ui-slider-handle {
	height:1.6em;
}

#loaderBar.ui-progressbar {
	height:.2em;
	border:0;
}

.miaow {
	font-size:.8em;
	color:#999;
}
