/* @override 
	http://signalchains.local/stylesheets/chains.css
	http://www.signalchains.com/stylesheets/chains.css?1265144565
*/

.input_source {
  width: 375px;
}
.input_source .meta {
  margin-top: 10px;
}

#content .social-links a:hover, .admin a:hover {
  background-position: right -24px;
  color: inherit;  
}

.block-btn {
  display: block;
  width: 100px;
  height: 100px;
  text-indent: -999em;
  background-position: 0 top;
  background-repeat: no-repeat;
  margin-left: 17px;
}
.block-btn.first {
  margin-left: 0;
}
.block-btn:hover {
  background-position: 0 -100px;
}
.block-btn:active {
  background-position: 0 -200px;
}
.block-btn#new_mic {
  background-image: url(../images/chains/btn_mic.png);
}
.block-btn#new_lineIn {
  background-image: url(../images/chains/btn_line-in.png);
}
.block-btn#new_dynamics {
  background-image: url(../images/chains/btn_dynamics.png);
}
.block-btn#new_preamp {
  background-image: url(../images/chains/btn_preamp.png);
}
.block-btn#new_effects {
  background-image: url(../images/chains/btn_effects.png);
}
.block-btn#new_eq {
  background-image: url(../images/chains/btn_eq.png);
}
.block-btn#new_converter {
  background-image: url(../images/chains/btn_converter.png);
}
div.chain_link {
  background: url(../images/backgrounds/gear_rack_bg.png) repeat-y;  
}
div.chain_link.top {
  background: url(../images/backgrounds/gear_rack_bg_top.png);  
  padding-top: 25px;
}
img#arrow {
  position: absolute;
  margin-top:-70px ;
}
.action {
  text-align: right;
}
a.btn {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  display: block;
  height: 40px;
  background-image: url(../images/backgrounds/button_sprite.png);
  background-position: left top;
  font-family: "Gill Sans";
  margin-bottom: 8px;
}
a.btn span {
  display: block;
  height: 20px;
  text-align: center;
  padding: 10px;
  background-image: url(../images/backgrounds/button_sprite.png);
  background-position: right 120px;  
  margin-right: -8px;
  padding-right: 8px;
  padding-left: 8px;
}
a.btn span img {
  vertical-align: sub;
}
.chain_link .community a.btn, #audio .btn {
  color: #fff;
  background-image: url(../images/backgrounds/button_dark_sprite.png);
  font-family: "Gill Sans";
  width: 100px;
  margin: 5px 0 0 0;  
}

.chain_link .community a.btn span, #audio .btn span {
  height: 20px;
  color: #fff;
  background-image: url(../images/backgrounds/button_dark_sprite.png);
  background-position: right 120px;  
  overflow: hidden;
}
.chain_link .community a.btn:hover span, #audio .btn:hover span {
  background-position: right -160px;  
}
.chain_link .community a.btn:active span, #audio .btn:active span {
  background-position: right -200px;  
}
a.btn:hover {
  background-position: left -40px;
}
a.btn:hover span {
  background-position: right -160px;
}
a.btn:active {
  position: relative;
  background-position: left -80px;
  top: 1px;
}
a.btn:active span {
  background-position: right -200px;
}

.gear span.score {
  text-shadow: 0 3px 2px #000;    
  font-size: 28px;  
}
span.score {
  font-size: 50px;
  padding-right: 5px;
  color: #3cab3b;
  text-shadow: 0 1px 2px #000;      
}
.chain {
  width: 685px;
  margin-bottom: 25px;
  -webkit-transition: height 1s linear;  
}
#chain_gear {
  background-image: url(../images/backgrounds/gear_rack_bg.png);  
}
.sort_handle {
  height: 80px;
  width: 30px;
  background: url(../images/backgrounds/chain_reorder_handle.png) left top;
  position: absolute;
  margin-left: 662px;
  margin-top: 50px;
  cursor: move;
}
.sort_handle:hover {
  background-position: left -80px ;
}
#audio .chain {
  margin-bottom: 0;
  width: auto;
}
.chain .info {
  padding-bottom: 35px;
  min-height: 38px;
}
.chain > .info {
  padding: 0;
}
.input_source #input_info {
  width: 250px;
  margin-left: 25px;
}
.input_source .banner h4 {
  width: auto;
  margin-bottom: .4em;
}
#audio {
  text-align: center;
  border-top: 2px ridge #fff;
  padding: 20px 20px 60px 20px;
  width: 645px;
  background: url(../images/backgrounds/gear_rack_tabletop.png) no-repeat 0 bottom;  
  margin-top: 20px;
}
#audio .pending {
  text-align: left;
}
#audio .pending h5 {
  text-align: center;
}
#audio a.btn {
  display: inline-block;
  width: 50px; 
  margin: 0 20px 10px auto; 
}
#audio audio {
  display: block;
  margin: 10px auto;
}
#audio .player {
  background: url(../images/backgrounds/plaque_top.png) no-repeat center top;
  padding-top: 55px;
  color: #fff; 
  width: 390px;
  margin: 0 auto; 
}
#audio .download {
  background: url(../images/backgrounds/plaque-bottom.png) no-repeat center bottom;
  padding-bottom: 40px;
}
#audio .loading {
  background:#74ed7e ;
  padding: 10px;
  -webkit-border-radius:4px;
-moz-border-radius:4px;
  display: block;
  margin-bottom: 15px;
}
.chain .info h2 {
  margin-bottom: .3em;
}
.chain .info .community a.btn{
  color: #CF0A0A;
  width: 120px;
  display: inline;
  float: left;
  margin-right: 20px;
}
.newlink {
  margin-bottom: 25px;
}

.newlink .col.first, .chain_link .col.first {
  margin-left: 0;
}

.tags a {
  background: #fafafa;
  width: auto;
  float: left;
  margin: 0 5px 5px 0;
  text-decoration: none;
}

.chain_link .action {
  width: 110px;
}
.thumb {
  width: 112px;
  height: 112px;
}
.unit .thumb {
  height: auto;
}
.thumb a {
  display: block;	
  width: 100px;
  height: 100px;
  padding: 6px;
  background-image: url(../images/backgrounds/gear_image_container.png);
  background-position:  0 top;
}
.thumb a:hover {
  background-position: 0 bottom;
}
.chain .power {
  height: 45px;
  width: 800px;
  background: transparent url(../images/backgrounds/gear_rack_bottom.png) no-repeat;
}

#current_chain > *{
  padding: 0 10px;
}
#current_chain ol {
  padding: 0 40px;
}
.chain .info .community {
  margin-bottom: .8em;
}
.chain .social-links {
  padding-top: 1px;
  height: 22px;
  overflow: hidden;
}
.unit .social-links {
  margin-top: 10px;
}
.admin {
  width: 70px;
  height: 26px;
  padding: 10px 15px;
  float: right;
  background: url(../images/backgrounds/admin.png) no-repeat;
}
.player .admin {
  float: none;
  width: auto;
  display: inline-block;
  height: auto;
  padding: 0;
  background: none;
}

.banner .admin {
  height: 24px;
  padding: 0;
  background: none;
  float: right !important;
}
.input_source .banner {
  min-height: 1.9em;
}
.edit, .delete {
  background-position: top right;
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 35px;
  height: 24px;
  text-indent: -999em;  
}
.edit {
  background-image: url(../images/buttons/edit.png);
}
.delete {
  background-image: url(../images/buttons/delete.png);
}
.chain_link .admin, .input_source .admin {
float: none;
}
.input_source .admin {
  background: none;
  width: auto;
  padding: 0;
  margin-left: 5px;
}
.social-links a{
  display: inline;
  padding: 3px 10px 5px 0;
  background-image: url(../images/buttons/like.png);
  background-position: right top;
  position: relative; 
  color: #222;
  background-repeat: no-repeat;
}
.social-links a:active, .admin a:active, a.edit:active, a.delete:active {
  position: relative;
  background-position: right -48px !important;
  top: 1px;
}
.social-links a span {
  background-position: left top;
  padding: 3px 2px 5px 30px;
  text-decoration: none;
  height: 17px;
  overflow: hidden;
  width: auto;
}
.social-links a:hover span{
  background-position: left -24px;  
}
.social-links a:active span {
  background-position: left -48px;  
}
.like_btn, .like_btn span {
  background-image: url(../images/buttons/like.png);
}
.like_btn.unlike span {
  background-position: left -72px;
}
.like_btn.unlike:hover span {
  background-position: left -96px;
}
.like_btn.unlike:active span {
  background-position: left -120px;
}

.comments_btn, .comments_btn span {
  background-image: url(../images/buttons/comments.png);
}

#tops li {
  margin-bottom: 1em;
}
#tops h5 {
  margin-bottom: 0;
}
#tops .creator {
  font-size: .8em;
}
ul#sortable_chain_gear {

}
ul#chain_gear, ul#sortable_chain_gear {
	margin: 0;
	padding: 0;
}
li.chain_gear {
	display: inline;
	width: 685px;
}
.empty_chain_gear {
	width: 100%;
	list-style: none;
}

#rec_stats {
  margin-top:18px ;
}
#gear_types{
  margin-top: 0;
}
#gear_types li{
  margin-top: 0;
}
.gear .banner h4 a, .input_source .banner h4 a {
  text-decoration: none;
  color: #000;
}

.unit ul {
  font-size: .9em;
}