/* @override http://signalchains.local/stylesheets/events.css */

.comment blockquote {
  margin: 1em 0;
  width: ;
}
.event {
  margin-bottom: 30px;
}

#users .social-links a.btn span {
 padding: 5px; 
}