/* @override 
	http://signalchains.local/stylesheets/home.css
	http://signalchains.com/stylesheets/home.css?1261631230
*/

#intro {
  margin-bottom: 15px;
  background: url(../images/backgrounds/soft-grad.png) repeat-x 0 -12px;
  padding-top: 12px;
  padding-bottom: 10px;
-webkit-border-top-left-radius:6px;
-webkit-border-top-right-radius:6px;-moz-border-top-left-radius:6px;
-moz-border-top-right-radius:6px;
  border-bottom: 2px groove #fff;
}
#intro #login-reg {
  background: url(../images/backgrounds/vu-meter.png) no-repeat center -36px;  
  padding-top: 140px;
}
#intro #login-reg .btn {
  width: 90px;
  float: left;
}
#intro #login-reg .btn.first {
  margin-right: 10px;  
}
#intro .text {
  width: 450px;
  padding-top: 8px;
}
#featured-gear a{
  display: block;
  height: 200px;
  overflow: hidden;
  background-position: 0 -50px;
  background-repeat: no-repeat;
  color: #fff;
  text-decoration: none;  
  background-color: #aaa;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
}

#featured-gear a span {
  display: block;
  padding: 10px;
  background-color: rgba(0,0,0,.6);
}

#featured-gear a:hover span {
  background-color: rgba(0,0,0,.8);
}