/* @override http://signalchains.local/stylesheets/style.css */

/* @group Boxes */

body {
  background-color: #222;
  font-family: Lucida Grande;
  font-size: 14px;
  margin: 0;
  background-image: url(../images/backgrounds/grill_background.png);
}
a{
  color: #74ed7e;
}
.wrapper {
  width: 900px;
}

/* @group comments */
#comments {
  border-top: 2px ridge #fff;
  padding-top: 15px;
}
#comment_body {
  height: 80px;
  width: 100%;
  -webkit-border-radius:6px;  -moz-border-radius:6px;
  border: 1px solid #999;
}
.comment-text {
  width: 478px;
  background: #ddd;
  padding: 10px;
  -webkit-border-radius:4px;  -moz-border-radius:4px;
  border-bottom: 1px solid #fff;
}
.avatar {
  width: 80px;
  height: 80px;
}

/* @end */
#container {
  background: #eee url(../images/backgrounds/container_background.png) repeat-y;
  padding: 20px 25px;
  width: 800px;
  margin: 0 auto;
}

/* @group nav */
#nav ul {
  width: 800px;
  margin: 0 auto;
  padding: 0;
}
#nav ul li {
  display: block;
  width: 131px;
  height: 75px;
  float: left;
  margin: 20px 0 20px 0;
  background-repeat:no-repeat ; 
  padding: 25px 30px 25px 30px; 
  background: url(../images/backgrounds/nav/vu-meter.png) no-repeat;  
}
#nav ul li a {
  display: block;
  height: 50px;
  width: 125px;
  padding: 30px 0 0 0;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
}
#nav ul li a:hover {
  color: #000;
}

#controls {
  text-align: right;
  width: 300px;
}
.session {
  margin-bottom: 10px;
  color: #74ED7E;
  text-transform: uppercase;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
  font-size: .8em;
  text-decoration: none;
  
}
.session a {
  color: #ccc;
  text-decoration: none; 
}
.session a:hover {
  text-decoration: underline;
}
.session a, #controls input {
  margin-left: 10px;
}
/* @end */

.session {
  text-align: right;
}
#header {
  background: url(../images/backgrounds/header_banner_back.png) repeat-x;
  border-bottom: 4px ridge #111;
}
#header .wrapper {
  margin-top: 10px;
  width: 780px;
  padding: 30px 60px;
  background: url(../images/backgrounds/header_banner.png);
  height: 66px;
}
#content {
  clear: both;
  padding-top: 14px;
  margin: 20px auto 0 auto;
  background: url(../images/backgrounds/rounded_top_background.png) no-repeat center top;
}
/* @group gear */
.gear {
  padding: 0;
  width: 500px;
  color: #ccc;
  border-top: 1px solid #666;
  background: url(../images/chains/gear_unit_sprite.jpg) left top;
  margin: 0;
}
.gear > * {
  margin-left: 40px;
  margin-right: 40px;
}
.gear .info {
  padding: 0 10px;
}

.gear .meta {
  color: #666;
  height: 35px;
  width: 400px;
  margin: 0;
  padding: 10px 50px 0 50px;
  background: #ddd url(../images/chains/gear_unit_sprite.jpg) no-repeat -500px bottom;
}
.gear .meta a {
  color: #666;
}
.chain_link .community {
  width: 240px;
  padding:10px 0 0 35px;
}
.gear_img {
  height: 100px;
  border: 1px dashed #aaa;
}

.gear h4 {
  padding: 10px;
  color: #000;
  border-bottom: 1px solid #111;
  background-image: url(../images/chains/gear_header_sprite.png);
  background-repeat: repeat-x;
}
.gear.mic h4 {
  background-color: #dedede;
  background-position: left top;
}

.gear.preamp h4 {
  background-color: #d8c437;
  background-position: left -400px;
}
.gear.dynamicsprocessor h4 {
  background-color: #a31212;
  background-position: left -800px;
}
.gear.effectsprocessor h4 {
  background-color: #4d96ba;
  background-position: left -1200px;
}
.gear.equalizer h4 {
  background-color: #73c356;
  background-position: left -1600px;
}

.unit {
  margin-bottom: 20px;
}
.unit h4 a {
  color: #000;
  padding: .3em;
  text-decoration: none;
  position: relative;
  left: -.3em;
}
.unit h4 a:hover {
  background-color: #fff;
}
.unit span.score {
  text-align: center;
  width: 160px;
  display: block;
}
/* @end */

/* @group chains */
.input_source {
  width: 375px;
}
.input_source .meta {
  margin-top: 10px;
}
.block-btn {
  display: block;
  width: 100px;
  height: 100px;
  text-indent: -999em;
  background-position: 0 top;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.block-btn:hover {
  background-position: 0 -100px;
}
.block-btn:active {
  background-position: 0 -200px;
}
.block-btn#new_mic {
  background-image: url(../images/chains/btn_mic.png);
}
.block-btn#new_lineIn {
  background-image: url(../images/chains/btn_line-in.png);
}
.block-btn#new_dynamics {
  background-image: url(../images/chains/btn_dynamics.png);
}
.block-btn#new_preamp {
  background-image: url(../images/chains/btn_preamp.png);
}
.block-btn#new_effects {
  background-image: url(../images/chains/btn_effects.png);
}
.block-btn#new_eq {
  background-image: url(../images/chains/btn_eq.png);
}

div.chain_link {
  background: url(../images/backgrounds/gear_rack_bg.png);  
}
div.chain_link.top {
  background: url(../images/backgrounds/gear_rack_bg_top.png);  
  padding-top: 25px;
}
img#arrow {
  position: absolute;
  margin-top:-70px ;
}
.action {
  text-align: right;
}
a.btn {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  display: block;
  height: 40px;
  background-image: url(../images/backgrounds/button_sprite.png);
  background-position: left top;
  font-family: "Gill Sans";
  margin-bottom: 8px;
}
a.btn span {
  display: block;
  height: 20px;
  text-align: center;
  padding: 10px;
  background-image: url(../images/backgrounds/button_sprite.png);
  background-position: right 120px;  
  margin-right: -8px;
  padding-right: 8px;
  padding-left: 8px;
}

.chain_link .community a.btn {
  color: #fff;
  background-image: url(../images/backgrounds/button_dark_sprite.png);
  font-family: "Gill Sans";
  width: 100px;  
}

.chain_link .community a.btn span {
  height: 20px;
  background-image: url(../images/backgrounds/button_dark_sprite.png);
  background-position: right 120px;  
  overflow: hidden;
}
.chain_link .community a.btn:hover span {
  background-position: right -160px;  
}
.chain_link .community a.btn:active span {
  background-position: right -200px;  
}
a.btn:hover {
  background-position: left -40px;
}
a.btn:hover span {
  background-position: right -160px;
}
a.btn:active {
  position: relative;
  background-position: left -80px;
  top: 1px;
}
a.btn:active span {
  background-position: right -200px;
}

span.score {
  font-size: 28px;
  padding-right: 5px;
  color: #3cab3b;
  text-shadow: 0 3px 2px #000;  
}
.chain {
  margin-bottom: 25px;
}
#audio .chain {
  margin-bottom: 0;
}
.chain .info {
  padding-bottom: 20px;
}
.chain > .info {
  padding: 0;
}
#audio {
  text-align: center;
  border-top: 2px ridge #fff;
  padding: 20px 270px 50px 270px;
  width: 260px;
  min-height: 170px;
  background: url(../images/backgrounds/gear_rack_tabletop_monitors.png) no-repeat 0 bottom;  
  margin-top: 20px;
}
#audio .pending {
  text-align: left;
}
#audio .pending h5 {
  text-align: center;
}
#audio a.btn {
  display: block;
  width: 150px; 
  margin: 0 auto 10px auto; 
}
#audio audio {
  display: block;
  margin: 10px auto;
}
.chain .info h2 {
  margin-bottom: 0;
  width: 670px;
  float: left;
}
.chain .info .community a.btn{
  color: #CF0A0A;
  width: 120px;
  display: inline;
  float: left;
  margin-right: 20px;
}
.newlink {
  margin-bottom: 25px;
}
.newlink .col, .chain .tags {
  margin-left: 0px;
}
.newlink .col.first, .chain_link .col.first {
  margin-left: 0;
}

.chain .tags span {
  padding: .3em;
  line-height: 2em;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border: 1px solid #ddd;
}
.chain_link .action {
  width: 110px;
}
.thumb {
  width: 112px;
  height: 112px;
}
.thumb a {
  display: block;	
  width: 100px;
  height: 100px;
  padding: 6px;
  background-image: url(../images/backgrounds/gear_image_container.png);
  background-position:  0 top;
}
.thumb a:hover {
  background-position: 0 bottom;
}
.chain .power {
  height: 45px;
  width: 800px;
  background: transparent url(../images/backgrounds/gear_rack_bottom.png) no-repeat;
}

#current_chain > *{
  padding: 0 10px;
}
#current_chain ol {
  padding: 0 40px;
}
.chain .info .community {
  margin-bottom: .8em;
}
.chain .social-links {
  padding-top: 1px;
  height: 22px;
  overflow: hidden;
}
.admin {
  width: 70px;
  height: 26px;
  padding: 10px 15px;
  float: right;
  background: url(../images/backgrounds/admin.png) no-repeat;
}
.edit, .delete {
  background-position: top right;
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 35px;
  height: 24px;
  text-indent: -999em;  
}
.edit {
  background-image: url(../images/buttons/edit.png);
}
.delete {
  background-image: url(../images/buttons/delete.png);
}
.chain_link .admin, .input_source .admin {
float: none;
}
.input_source .admin {
  background: none;
  width: auto;
  padding: 0;
}
.community .social-links a{
  display: inline;
  padding: 3px 10px 5px 0;
  background-position: right top;
  position: relative; 
  color: #222;
  background-repeat: no-repeat;
}
.community .social-links a:hover, .admin a:hover {
  background-position: right -24px;
  color: inherit;  
}
.community .social-links a:active, .admin a:active {
  position: relative;
  background-position: right -48px;
  top: 1px;
}
.community .social-links a span {
  background-position: left top;
  padding: 3px 2px 5px 30px;
  text-decoration: none;
  height: 17px;
  overflow: hidden;
  width: auto;
}
.community .social-links a:hover span{
  background-position: left -24px;  
}
.community .social-links a:active span {
  background-position: left -48px;  
}
#like, #like span {
  background-image: url(../images/buttons/like.png);
}
#like.unlike span {
  background-position: left -72px;
}
#like.unlike:hover span {
  background-position: left -96px;
}
#like.unlike:active span {
  background-position: left -120px;
}

#comments_btn, #comments_btn span {
  background-image: url(../images/buttons/comments.png);
}
/* @end */
/* @end */

/* @group Global Text */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Gill Sans, "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
  margin: 0 0 .5em 0;
}
h1 {
  font-size: 180%;
}
h2 {
  font-size: 160%;
}
h3 {
  font-size: 140%;
  font-weight: normal;
}
h4 {
  font-size: 110%;
}
h5 {
  font-size: 90%;
  font-weight: normal;
  margin-bottom: 1em;
}
p {
  font-size: 90%;
  margin: 0 0 1em 0;
}
/* @end */
#search #search_form.mic-search {
  padding: 0;
}
#search, .bucket {
  width: 700px;
  padding: 10px 50px 40px 50px;
  background: url(../images/backgrounds/search_bg.png) no-repeat 0 bottom;
}
#new_gear {
  margin-top: 50px;
}
/* @group forms */
#chain_gear_notes {
  height: 100px;
  width: 400px;
}
.input_source #chain_gear_notes {
  width: 248px;
}
.input_source .notes {
  border-top: 1px solid #bbb;
}
.notes {
  border-top: 1px solid #222;
  padding-top: 10px;
  color: #aaa;
}
.formtastic li {
  list-style: none;
}
.formtastic fieldset {
  width: auto;
  padding: 0;
  height: auto;
  border: none;
}
.formtastic fieldset ol{
  padding: 0;
  margin: 0;
}
/* @group Mic */
.formtastic .select, .formtastic .string, .formtastic .numeric {
  margin-bottom: 10px;
}
.formtastic .buttons, .buttons ol {
  border: none;
  padding: 0;
  margin: 10px 0;
}
form#new_chain_gear, form.chain {
  list-style: none;
}
.formtastic.chain_gear li{
  list-style: none;
  padding-bottom: 20px;
}
#new_chain p{
  padding-top: 1em;
  color: #666;
}

#chain_notes {
  width: 356px;
}


li#chain_gear_notes_input {
  margin-top: 20px;
  padding: 0;
}
.formtastic label {
  display: block;
  text-transform: uppercase;
  font-size: .8em;
}
.formtastic li.commit {
  background: transparent;
  padding: 10px 0;
}
form.chain label {
  display: block;
}
form.chain li {
  margin-bottom: 10px;
}
.formtastic li input, .formtastic select, .formtastic textarea {
  position: relative;
}

/* @end */

ul.incomplete_chain {
  margin: 25px 0;
  padding: .8em;
  color: #eee;
  border-bottom: 1px solid #fff;
  -webkit-border-radius:6px;-moz-border-radius:4px;
  background-image: url(../images/backgrounds/grill_background.png);
}

ul.incomplete_chain li {
	list-style-type: none;
	font-size: 90%;
}

/* @end */