/* @override http://signalchains.local/stylesheets/style.css */

/* @group Boxes */

body {
  background-color: #222;
  font-family: Lucida Grande;
  font-size: 14px;
  margin: 0;
  background-image: url(../images/backgrounds/grill_background.png);
}
a{
  color: #111;
}
#content a {
  color: #041647;
}
#content a.zoom {
  text-align: center;
}
.unit a img {
  display: block;
}
.wrapper {
  width: 950px;
}

/* @group comments */
.comment {
  margin-bottom: 25px;
}
#comments {
  padding-top: 15px;
}
#comments .username {
  font-size: 90%;
  margin-top: 5px;
  text-align: center;
}
#comment_body {
  height: 100px;
  width: 100%;
  -webkit-border-radius:6px;  -moz-border-radius:6px;
  border: 1px solid #999;
}
.comment-text, .comment blockquote {
  background: #ddd;
  padding: 10px;
  -webkit-border-radius:4px;  -moz-border-radius:4px;
  border-bottom: 1px solid #fff;
}
.comment-text {
  width: 430px;
}
.avatar {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

/* @end */
#master {
  background: #e1e1e1;
  z-index: 10;
  position: relative;
}
#master #header .container {
  padding: 0;
  width: 700px;
}
#master .container {
 
  float: left;
  padding: 0 15px;  
}

#left-content {
  width: 714px;
  float: left;
background: #eee url(../images/backgrounds/container_background.png) repeat-y 0 0;   
border-right: 1px solid #fff;
}
.container {
  width: 685px;
  margin: 0 auto;
}
#right-content {

background: #eee url(../images/backgrounds/container_background.png) repeat-y 0 0;  
  
}

div.image a {
  display: block;
  margin-bottom: 10px;
}
#sidebar {
  width: 205px;
  padding: 6px 15px 15px 15px;
  float: left;
}
#sidebar h4 {
  font-weight: normal;
  font-size: 1.3em;
  color: #000;
}
#sidebar h5, .featured .col-3 h5{
  font-size: 1em;
  margin-bottom: 0;
  letter-spacing: .1em;
  word-spacing: .3em;
}
#sidebar h4 a, #sidebar h5 a{
  color: #000;
}
#sidebar > div {
  margin-bottom: 25px;
  font-size: 12px;
  color: #666;
}
#sidebar a {
  color: #666;
}
#sidebar > div a {
  text-decoration: none;=
}
#sidebar > div a:hover {
  text-decoration: underline;
}
/* @group nav */

#nav ul {
  width: 465px;
  margin: 12px 0 0;
  height: 36px;
  overflow: hidden;
  padding: 0 0 0 250px;
  background: #708e8d;
}
#nav ul li {
  display: block;
  min-width: 75px;
  float: left;
  margin: 0; 
  padding: 0; 
}
#nav ul li a {
  display: block;
  height: auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #222;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
}
#nav ul li a:hover {
  color: #000;
  background: #aab9b9;
  border-bottom-color: #ccc;
}

#controls {
  text-align: left;
  min-height: 60px;
  margin-bottom: 17px;
  border-bottom: 1px solid #d0d3d3;
}
.session {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
  font-size: 1em;
  text-decoration: none;
  
}
.session a {
  color: #666;
  text-decoration: none; 
  position: relative;
  top: 5px;
}

.session a:hover {
  text-decoration: underline;
}
.session a, #controls input {
  margin-left: 10px;
}
/* @end */

#header {
  width: 715px;
  height: 65px;
  float: left;
  padding: 5px 0 5px 0;
  background: #21615e;
  border-bottom: 2px solid #18312f;
}
#header #logo {
  display: block;
  text-indent: -999em;	
  position: absolute;
  height: 65px;
  margin-top: 0;
  margin-left: 4px;
  padding: 2px 10px 0 10px;
  width: 220px;
  background-color: #30615e;
  background-image: url(../images/header_type.png);
}
#logo img {
}
#header .wrapper {
  margin-top: 10px;
  width: 780px;
  padding: 30px 60px;
  background: url(../images/backgrounds/header_banner.png);
  height: 66px;
}
#content {
  padding: 15px 15px !important;	
  clear: both;
  margin: 0 auto 0 auto;
}

.content-title {
  /*background: url(../images/backgrounds/content_head.png) no-repeat;
  width: 695px;
  height: 70px;
  position: relative;
  margin-left: -35px;
  margin-top: -20px;
  margin-bottom: 10px;
  display: block;
  padding: 25px 30px 0 30px;
  overflow: hidden;*/
}
.user-page h1 img{
  vertical-align: middle;
}

.footer .content{
  background: #0e111c;
  padding: 20px 0;
  background-image: url(../images/backgrounds/footer-bottom.png);  
}
.footer .content * {
  color: #ccc !important;
  text-shadow: 1px 2px 1px #000;
}
.footer {
  border-top: 2px groove #fff;
  background: #eee url(../images/backgrounds/footer-top.png) no-repeat;	
  position: relative;
  z-index: 0;    
}
.footer .stats { 
  color: #ccc;
  padding: 45px 30px 10px 30px;
  height:50px;  
  overflow: hidden;
}
.footer ul {
  padding: 0;
  margin: 0;
}
.footer ul li {
  list-style: none;
}
/* @group gear */
.gear {
  padding: 0;
  min-height: ;
  width: 500px;
  color: #ccc;
  border-top: 1px solid #666;
  background: url(../images/chains/gear_unit_sprite.jpg) left top;
  margin: 0;
}
.gear > * {
  margin-left: 40px;
  margin-right: 40px;
}
.gear .info {
  padding: 0 10px;
}

.gear .meta {
  color: #666;
  height: 35px;
  width: 400px;
  margin: 0;
  padding: 10px 50px 0 50px;
  background: #ddd url(../images/chains/gear_unit_sprite.jpg) no-repeat -500px bottom;
}
.gear .meta a {
  color: #666;
}
.chain_link .community {
  width: 123px;
  padding:10px 0 0 35px;
}
.gear_img {
  height: 100px;
  border: 1px dashed #aaa;
}

.gear .banner {
  padding: 10px;
  color: #000;
  border-bottom: 1px solid #111;
  background-image: url(../images/chains/gear_header_sprite.png);
  background-repeat: repeat-x;
  margin-bottom: 10px;
}
.gear.mic .banner {
  background-color: #dedede;
  background-position: left top;
}

.gear.preamp .banner {
  background-color: #d8c437;
  background-position: left -400px;
}
.gear.dynamicsprocessor .banner {
  background-color: #a31212;
  background-position: left -800px;
}
.gear.effectsprocessor .banner {
  background-color: #4d96ba;
  background-position: left -1200px;
}
.gear.equalizer .banner {
  background-color: #73c356;
  background-position: left -1600px;
}
.banner h4 {
  width: 300px;
  margin: 0;
}
.unit {
  margin-bottom: 20px;
}
.unit h4 a {
  color: #000;
  padding: .3em;
  text-decoration: none;
  position: relative;
  left: -.3em;
  display: block;
}
.unit h4 a:hover {
  background-color: #fff;
}
.unit span.score {
  text-align: center;
  width: 160px;
  display: block;
}
/* @end */

/* @end */

/* @group Global Text */
body {
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Gill Sans, "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
  margin: 0 0 .5em 0;
}
h1 {
  font-size: 180%;
}
h2 {
  font-size: 160%;
}
h3 {
  font-size: 140%;
  font-weight: normal;
  margin-bottom: .8em;
}
h4 {
  font-size: 100%;
  font-weight: normal;
  letter-spacing: .1em;
}
h5 {
  font-size: 90%;
  font-weight: normal;
  margin-bottom: 1em;
}
h6 {
  font-size: 90%;
  font-weight: normal;
  margin: 0;
}
p, cite {
  font-size: 90%;
  margin: 0 0 1em 0;
  line-height: 1.8em;
}
ul li {
  margin: .8em 0;
}
ul.list {
  padding: 0;
  margin: 0 0 10px 0;
}
ul.list li {
  list-style: none;
  margin: 4px 0;
}
ul.list li a, .tags a {
  display: block;
  background: #f5f5f5;
  border-top: 1px solid #fff;
  -webkit-border-radius:4px;-moz-border-radius:4px;  
  padding: 5px;
  text-decoration: none;
}

ul.list li a:hover, .tags a:hover {
  border-top: 1px solid #ccc;	
  text-decoration: none;
  background: #dedede;
}
blockquote {
  border-left: 2px solid #22615e;
  padding-left: 15px;
  margin: 0;
}
blockquote p {
  font-size: ;
}
/* @end */
#search #search_form.mic-search {
  padding: 0;
}
#search, .bucket {
  width: 625px;
  padding: 10px 30px 40px 30px;
  background: url(../images/backgrounds/search_bg.png) no-repeat 0 bottom;
  margin-bottom: 10px;
}
#new_gear {
  margin-top: 50px;
}

/* @group admin */

#admin-bar {
  background:#222 url(../images/backgrounds/grill_background.png);
  padding: 5px 10px;
  width: 695px;
}

#admin-bar .controls {
  width: 630px;
}
#admin-bar .hide {
  width: 40px;
}
#admin-bar .hide a {
  background: rgba(256,256,256,.3);
  color: #fff;
  border: none;
  text-transform: uppercase;
  
}
/* @end */

/* @group forms */
#chain_gear_notes {
  height: 100px;
  width: 400px;
}
.input_source #chain_gear_notes {
  width: 248px;
}
.input_source .notes {
  border-top: 1px solid #bbb;
}
.notes {
  border-top: 1px solid #222;
  padding-top: 10px;
  color: #aaa;
}
.formtastic li {
  list-style: none;
}
.formtastic fieldset {
  width: auto;
  padding: 0;
  height: auto;
  border: none;
}
.formtastic fieldset ol{
  padding: 0;
  margin: 0;
}
/* @group Mic */
.formtastic .select, .formtastic .string, .formtastic .numeric {
  margin-bottom: 10px;
}
.formtastic .buttons, .buttons ol {
  border: none;
  padding: 0;
  margin: 10px 0;
}
form#new_chain_gear, form.chain {
  list-style: none;
}
.formtastic.chain_gear li{
  list-style: none;
  padding-bottom: 20px;
}
#new_chain p{
  padding-top: 1em;
  color: #666;
}

#chain_notes {
  width: 300px;
}


li#chain_gear_notes_input {
  padding: 20px 0 0 0;
  display: block;
}
.formtastic label, label {
  display: block;
  text-transform: uppercase;
  font-size: .8em;
}
.formtastic li.commit {
  background: transparent;
  padding: 10px 0;
}
form.chain label {
  display: block;
}
form.chain li {
  margin-bottom: 10px;
}
.formtastic li input, .formtastic select, .formtastic textarea {
  position: relative;
}
form.chain .first .col.w35 p{
  padding-top: 15px;
}
/* @end */

#content ul.incomplete_chain {
  margin: 25px 0;
  padding: .8em;
  color: #eee;
  border-bottom: 1px solid #fff;
  -webkit-border-radius:6px;-moz-border-radius:4px;
  background-image: url(../images/backgrounds/grill_background.png);
}
#content ul.incomplete_chain li a {
  display: inline;
  background: transparent;
  border: none;
  padding: 0;
}
#content ul.incomplete_chain li a:hover {
  text-decoration: underline;
}
#sidebar div.ad {
  margin: 15px 0;
  padding-top: 15px;
  border-top: 2px groove #fff;
  clear: both;
  text-align: center;
}
.ad img {
  display: block;
  margin: 0 auto;
}
.ad small {
  font-size: 70%;
  color: #666;
}

ul.incomplete_chain li {
	list-style-type: none;
	font-size: 90%;
}
#content ul.incomplete_chain li a {
    color: #74ed7e;	
}
/* @end */

/* @group blog */
#blog-nav h4 {
  margin: 0;
  font-weight: normal;
  margin-bottom:20px ;
}
#blog-nav h4 a{
  display: block;
  color:#666 ;
  margin: 0;
  text-decoration: none;
  padding: 10px 25px;
  background: #ddd;
  -webkit-border-radius:6px;  -moz-border-radius:6px;  
}
#blog-nav h4 a:hover{
  background: #ccc;
}
article{
  display: block;
  padding: 10px 25px;
  margin-bottom: 20px;
}
article #comments .w20 {
  width: 170px;
}
article header {
  margin-bottom: 10px;
  display: block;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
}
article header .date {
  margin: 0;
}
article header .first.w40 {
  height: 40px;
  display: table;
}
article h2 {
  font-weight: normal;
  font-size: 1.3em;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: bottom;
  margin: 0;
}

article h2 a{
  text-decoration: none;
}
#sounding_board {
  padding: 40px 230px 0 228px;
  background: url(../images/backgrounds/blog_tabletop_monitors.jpg) no-repeat center top;
  text-align: center;
  height: 145px;
  margin-top: 10px;
}
#sounding_board h1 {
  font-weight: normal;
}
/* @end */

