/* @override http://signalchains.local/stylesheets/style.css */

/* @group Boxes */

body {
  background-color: #222;
  font-family: Lucida Grande;
  font-size: 14px;
  margin: 0;
  background-image: url(../images/backgrounds/grill_background.png);
}
a{
  color: #111;
}
.wrapper {
  width: 900px;
}

/* @group comments */
#comments {
  border-top: 2px ridge #fff;
  padding-top: 15px;
}
#comment_body {
  height: 80px;
  width: 100%;
  -webkit-border-radius:6px;  -moz-border-radius:6px;
  border: 1px solid #999;
}
.comment-text, .comment blockquote {
  width: 478px;
  background: #ddd;
  padding: 10px;
  -webkit-border-radius:4px;  -moz-border-radius:4px;
  border-bottom: 1px solid #fff;
}
.avatar {
  width: 80px;
  height: 80px;
}

/* @end */
#container {
  background: #eee url(../images/backgrounds/container_background.png) repeat-y;
  padding: 20px 25px;
  width: 800px;
  margin: 0 auto;
}

/* @group nav */
#nav {

}
#nav ul {
  width: 800px;
  margin: 0 auto;
  padding: 0 0 0 8px;
  background: #000;
}
#nav ul li {
  display: block;
  width: 155px;
  height: 80px;
  float: left;
  margin: 0; 
  padding: 0; 
  background: url(../images/backgrounds/nav/patchbay_label.png) no-repeat center 0;  
  border-right: 4px solid #000;
}
#nav ul li a {
  display: block;
  height: auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
}
#nav ul li a:hover {
  color: #000;
}

#controls {
  text-align: right;
  width: 300px;
}
.session {
  margin-bottom: 10px;
  color: #74ED7E;
  text-transform: uppercase;
  font-family: "Gill Sans", "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
  font-size: .8em;
  text-decoration: none;
  
}
.session a {
  color: #ccc;
  text-decoration: none; 
}
.session a:hover {
  text-decoration: underline;
}
.session a, #controls input {
  margin-left: 10px;
}
/* @end */

.session {
  text-align: right;
}
#header {
  background: url(../images/backgrounds/header_banner_back.png) repeat-x;
  border-bottom: 4px ridge #111;
}
#header .wrapper {
  margin-top: 10px;
  width: 780px;
  padding: 30px 60px;
  background: url(../images/backgrounds/header_banner.png);
  height: 66px;
}
#content {
  clear: both;
  padding-top: 14px;
  margin: 0 auto 0 auto;
  background: url(../images/backgrounds/rounded_top_background.png) no-repeat center top;
}

.content-title {
  background: url(../images/backgrounds/content_head.png);
  width: 840px;
  height: 80px;
  position: relative;
  margin-left: -50px;
  margin-top: -40px;
  margin-bottom: 10px;
  display: block;
  padding: 35px 30px 0 30px;
  overflow: hidden;
}
.content-title h1 {
  color: #fff;
  text-shadow: 0 2px 1px #000;
}
/* @group gear */
.gear {
  padding: 0;
  width: 500px;
  color: #ccc;
  border-top: 1px solid #666;
  background: url(../images/chains/gear_unit_sprite.jpg) left top;
  margin: 0;
}
.gear > * {
  margin-left: 40px;
  margin-right: 40px;
}
.gear .info {
  padding: 0 10px;
}

.gear .meta {
  color: #666;
  height: 35px;
  width: 400px;
  margin: 0;
  padding: 10px 50px 0 50px;
  background: #ddd url(../images/chains/gear_unit_sprite.jpg) no-repeat -500px bottom;
}
.gear .meta a {
  color: #666;
}
.chain_link .community {
  width: 240px;
  padding:10px 0 0 35px;
}
.gear_img {
  height: 100px;
  border: 1px dashed #aaa;
}

.gear .banner {
  padding: 10px;
  color: #000;
  border-bottom: 1px solid #111;
  background-image: url(../images/chains/gear_header_sprite.png);
  background-repeat: repeat-x;
  margin-bottom: 10px;
}
.gear.mic .banner {
  background-color: #dedede;
  background-position: left top;
}

.gear.preamp .banner {
  background-color: #d8c437;
  background-position: left -400px;
}
.gear.dynamicsprocessor .banner {
  background-color: #a31212;
  background-position: left -800px;
}
.gear.effectsprocessor .banner {
  background-color: #4d96ba;
  background-position: left -1200px;
}
.gear.equalizer .banner {
  background-color: #73c356;
  background-position: left -1600px;
}
.gear .banner h4 {
  width: 300px;
}
.unit {
  margin-bottom: 20px;
}
.unit h4 a {
  color: #000;
  padding: .3em;
  text-decoration: none;
  position: relative;
  left: -.3em;
}
.unit h4 a:hover {
  background-color: #fff;
}
.unit span.score {
  text-align: center;
  width: 160px;
  display: block;
}
/* @end */
/* @end */

/* @group Global Text */
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Gill Sans, "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
  margin: 0 0 .5em 0;
}
h1 {
  font-size: 180%;
}
h2 {
  font-size: 160%;
}
h3 {
  font-size: 140%;
  font-weight: normal;
}
h4 {
  font-size: 110%;
}
h5 {
  font-size: 90%;
  font-weight: normal;
  margin-bottom: 1em;
}
p {
  font-size: 90%;
  margin: 0 0 1em 0;
}
/* @end */
#search #search_form.mic-search {
  padding: 0;
}
#search, .bucket {
  width: 700px;
  padding: 10px 50px 40px 50px;
  background: url(../images/backgrounds/search_bg.png) no-repeat 0 bottom;
  margin-bottom: 10px;
}
#new_gear {
  margin-top: 50px;
}
/* @group forms */
#chain_gear_notes {
  height: 100px;
  width: 400px;
}
.input_source #chain_gear_notes {
  width: 248px;
}
.input_source .notes {
  border-top: 1px solid #bbb;
}
.notes {
  border-top: 1px solid #222;
  padding-top: 10px;
  color: #aaa;
}
.formtastic li {
  list-style: none;
}
.formtastic fieldset {
  width: auto;
  padding: 0;
  height: auto;
  border: none;
}
.formtastic fieldset ol{
  padding: 0;
  margin: 0;
}
/* @group Mic */
.formtastic .select, .formtastic .string, .formtastic .numeric {
  margin-bottom: 10px;
}
.formtastic .buttons, .buttons ol {
  border: none;
  padding: 0;
  margin: 10px 0;
}
form#new_chain_gear, form.chain {
  list-style: none;
}
.formtastic.chain_gear li{
  list-style: none;
  padding-bottom: 20px;
}
#new_chain p{
  padding-top: 1em;
  color: #666;
}

#chain_notes {
  width: 356px;
}


li#chain_gear_notes_input {
  margin-top: 20px;
  padding: 0;
}
.formtastic label {
  display: block;
  text-transform: uppercase;
  font-size: .8em;
}
.formtastic li.commit {
  background: transparent;
  padding: 10px 0;
}
form.chain label {
  display: block;
}
form.chain li {
  margin-bottom: 10px;
}
.formtastic li input, .formtastic select, .formtastic textarea {
  position: relative;
}

/* @end */

ul.incomplete_chain {
  margin: 25px 0;
  padding: .8em;
  color: #eee;
  border-bottom: 1px solid #fff;
  -webkit-border-radius:6px;-moz-border-radius:4px;
  background-image: url(../images/backgrounds/grill_background.png);
}

ul.incomplete_chain li {
	list-style-type: none;
	font-size: 90%;
}
ul.incomplete_chain li a {
    color: #74ed7e;	
}
/* @end */