/* @override http://signalchains.local/stylesheets/user.css */

#edit_profile {
  color: #111;
  padding: 2px 5px;
  text-align: left;
  overflow: hidden;
  margin: 0 0 10px 0;
  padding-left: 20px;
  background: url(../images/backgrounds/gear.png) no-repeat left;
  display: block;
  float: left;

}
.list {
  margin-bottom: 20px;
}
a#logout {
  margin-bottom: 10px;
  padding: 2px;
}

#new_search {
  margin-bottom: 10px;
}

#feed blockquote {
  padding: 5px 10px;
  border-left: none;
}

#feed div.event p {
  margin-bottom: 0;
}
#feed .event blockquote {
  margin-top: 5px;
}
#feed blockquote p {
  margin: 5px 0;
  padding: 0;
}
#feed .event a {
  text-decoration: none;
}
#feed .event a:hover {
  text-decoration: underline;
}

.user-page.bucket {
  padding: 0 28px 20px 28px;
  width: 630px;
}

#follow {
  margin-top: 20px;
}

#user-chains h4 {
  margin: 15px 0 0 0;
}

#user-chains h4 a {
  text-decoration: none;
  color: #000;  
}