- title "Dynamics Processors"

#search
  = render(:partial => 'dynamics_processors/search_form')

%br.clear

#gear= render(:partial => 'dynamics_processors/dynamics_processor', :collection => @dynamics_processors)

%p= link_to "New Dynamics Processor", @chain.nil? ? new_dynamics_processor_path : new_chain_dynamics_processor_path(@chain)

:javascript
  $(function () {
    $('input').keyup(search);
    $('select').change(search);
  });

  function search() {
    $('#search_form').ajaxSubmit({ target: '#gear' });
  }