- semantic_form_for @search, :url => {:controller => :preamps, :action => :search}, :html => {:id => 'search_form'} do |f|
  = f.input :make_like, :input_html => { :size => 27 }
  = f.input :model_like, :input_html => { :size => 27 }

  = f.input :circuitry, :as => :select, :collection => Preamp.circuitries

  - if @chain
    = hidden_field_tag :chain_id, @chain.id