- title "Preamps"

#search
  = render(:partial => 'preamps/search_form')

%br.clear

#gear= render(:partial => 'preamps/preamp', :collection => @preamps)

%p= link_to "New Preamp", @chain.nil? ? new_preamp_path : new_chain_preamp_path(@chain)

:javascript
  $(function () {
    $('input').keyup(search);
    $('select').change(search);
  });

  function search() {
    $('#search_form').ajaxSubmit({ target: '#gear' });
  }