- title "Preamps"

#search
  = render(:partial => 'preamps/search_form')

%br.clear

#gear= render(:partial => 'preamps/preamp', :collection => @preamps)

.w15
  = link_to "<span>New Preamp</span>", @chain.nil? ? new_preamp_path : new_chain_preamp_path(@chain), :class => 'btn'

:javascript
  $(function () {
    $('input').keyup(search);
    $('select').change(search);
  });

  function search() {
    $('#search_form').ajaxSubmit({ target: '#gear' });
  }