%h3 Create a New Converter
%p.borderB
  Users will be able to use this piece of gear after you create it. 
  %br
  All fields are not required, but you won't be able to edit them later. 

- semantic_form_for @converter, :html => {:multipart => true} do |f|
  .col.first.w45= render(:partial => 'gear/form', :locals => {:f => f})
  .col.w15
    - if @chain
      = hidden_field_tag :chain_id, @chain.id
  .clear
  = f.buttons