#jquery_jplayer
#player_container
  %ul#icons.ui-widget.ui-helper-clearfix
    %li#play.ui-state-default.ui-corner-all
      %span.ui-icon.ui-icon-play
    %li#pause.ui-state-default.ui-corner-all
      %span.ui-icon.ui-icon-pause
    %li#stop.ui-state-default.ui-corner-all
      %span.ui-icon.ui-icon-stop
  #bars_holder
    #sliderPlayback
    #loaderBar