- title "Chains"

= link_to "<span>New Chain</span>", new_chain_path, :class => 'btn w10'
.col.first.w20
  #tops
    %h3 Top Tags
    .tags
      - tag_cloud(@tags, %w()) do |tag, css_class|
        %span= tag.name
.col.w45
  = render(:partial => 'chains/chain', :collection => collection)
