- title "Chains"

= link_to "<span>New Chain</span>", new_chain_path, :class => 'btn w10'
.col.first.w20
  #tops
    %h3 Top Tags
    .tags
      - if Tag.count > 0
        - tag_cloud(@tags, %w()) do |tag, css_class|
          %span= link_to(h(tag.name), tag_path(tag.name))
.col.w45
  = render(:partial => 'chains/chain', :collection => collection)
