- title "Effects Processors"

#search
  = render(:partial => 'effects_processors/search_form')

%br.clear

#gear= render(:partial => 'effects_processors/effects_processor', :collection => @effects_processors)

%p= link_to "New Effects Processor", @chain.nil? ? new_effects_processor_path : new_chain_effects_processor_path(@chain)

:javascript
  $(function () {
    $('input').keyup(search);
    $('select').change(search);
  });

  function search() {
    $('#search_form').ajaxSubmit({ target: '#gear' });
  }